.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 0rem;
    padding: 4rem 1rem;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}


.upper_text {
        background-color: #47e3ff;
        width: 1500px;
        height:300px;
        border: 5px solid #47fff9;
        padding: 50px;
        margin: 20px;
        text-align: justify;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-top: -600px;
        margin-left: -750px;
}
.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#47f9ff;
	border-radius:6px;
	border:1px solid #477bff;
	display:inline-block;
	cursor:pointer;
	color:#8747ff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.home_image{
    height:900px;
    background-image:url(card.jpg);
    background-size:cover;
    background-position:center;
}

.home_image p {
        background-color: transparent;
        width: 600px;
        height:600px;
        border: 5px solid #47fff9;
        padding: 50px;
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight:bold;
        color:#ffffff;
        text-shadow:2px 2px 8px #111;
        text-align: justify;
}

.home_image:hover{
    background-size:150%;
}

.section_1 {
    background-color: transparent;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

header{
    background-color:#47fff6;;
    width:100%;
    height:100px;
}
header .header-lucas{
    font-family:"Times New Roman";
    font-size: 24px;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 31px 0;
    text-align: center;
    line-height:38px;
    padding:0px 20px 0 40px;
    border-right: 3px solid #111;
    float:left;
}

header nav ul{
    display:block;
    margin:35px 0px;
    float: left;
    width:fit-content;
}

header nav ul li{
    display:inline-block;
    list-style:none;
    padding:0 16px;
}

header nav ul li a{
    font-family:"Times New Roman";
    font-size: 24px;
    color: #111;
    font-weight: 900;
    line-height:60px;
}


* {
    text-decoration:none;
}
.zf-banner{
    width:10px;
    height:10px;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;

}
.career-banner{
    width:100%;
    height: 50%;
    background-image:url('career.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:table;

}
.career-banner h2{
    padding:20px;
    color:#ffffff;
    font-size:60px;
    font-weight: 900;
    text-shadow:2px 2px 8px #111;
    text-align:center;
    vertical-align:middle;

}

.career-banner h1{
    padding-top:20px;
    color:#ffffff;
    font-size:28px;
    font-style:italic;
    line-height:40px;
    font-weight: 100;
    text-shadow:2px 2px 8px #111;
    text-align:center;
}

.vertical_centering{
    display:table-cell;
    vertical-align:middle;
}
.career-links div{
    margin: 10px 10px 10 0;
    height:100px;
    background-color:#318c88;

}
.boxlink-square{
    width: calc(25% -20px) !important;
}
.boxlink-rectangle{
    width: calc(50% -20px) !important;
}

.career-links div h3{
    color:#111;
    font-size:28px;
    line-height:100px;
    font-weight: 500;
    text-align:center;
    text-transform:uppercase;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.stone_image{
    height:900px;
    background-color:#e9e9e9;
    background-size:cover;
    background-position:center;
}

.stone_image div{
    width:25%;
    height:500px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.stone_image div h2{
    margin: 10px;
    color:#111;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}

.stone_image div h3{
    margin: 10px;
    color:#111;
    font-size:16px;
    font-weight: 500;
    text-align:center;
}

.stone_image p {
        background-color: transparent;
        width: 600px;
        height:600px;
        border: 5px solid #47fff9;
        padding: 50px;
        margin: 20px;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-top: 0px;
        margin-left: -300px;
        font-weight:bold;
        color:#ffffff;
        text-shadow:2px 2px 8px #111;
        text-align: justify;
}

footer{
    width:calc(100%-80px);
    padding:40px 40px;
    background-color:#111;
    overflow:hidden;

}

footer ul{
    width:fit-content;
    float: left;
    padding-left:20px;
}
footer ul li{
    display:block;
    list-style:none;
}

footer ul li a{
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    line-height:30px;
}
.social-media{
    width:60px;
    float: right;
}

.social-media img{
    width:100%;
    margin-bottom:10px;
}